{% extends 'base_layout.html' %}

{% block title %}
	<title> Djangonautic || About </title>
{% endblock %}

{% block content %}
	<h1> About Us. </h1>
	<p>We like Django</p>
	
	<br/>
	<p> much love </p> 
	<h1> TEDEX &copy</h1>
	<p> Fortune Mensah Tede <em> (tedex)</em></p>
	<br/>

	<p>	Well My name is Rasheed </p>
		My python/django role model, TEDEX gave me a youtube playlist and ordered me to finish the </p>
	<p>	project in 2 weeks i finished it and i told him and he asked me to host it on heroku</p>

	<br/>

	<p>	you can add me on facebook @ Rasheed Starlet</p>
	<p>	twitter @ Bitcoin Starlet</p>
	<p>	linkedin @ Rasheed A. Muhammed</p>
	<p>	futurnet @ rasheedstalet.fn.xyz </p>
	<p>	that was my ref link join me and make some money for your self</p>


{% endblock %}